.buttonHover {
  position: relative;
}
.buttonHover::after {
  content: "";
  position: absolute;
  border: 2px solid #ff3344;
  width: 100%;
  bottom: -5px;
  border-radius: 50px;
  left: 0;
  transform-origin: right;
  transition: transform 300ms;
  transform: scaleX(0);
}
.buttonHover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 1200px) {
  .custom_container {
    max-width: 1140px !important;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.slick-slide {
  display: flex; /* Ensure slides are not stretching */
  justify-content: center; /* Center content horizontally */
}
.slick-slide {
  display: block; /* Make sure it's not set to flex or any vertical layout */
}
.slick-slide {
  width: 100%; /* Ensure each slide takes full width of the container */
}

.slick-track {
  display: flex; /* Ensure it's using flexbox layout correctly */
  transform: translate3d(0px) !important;
}