
.buttonHover {
  position: relative;
}
.buttonHover::after {
  content: '';
  position: absolute;
  border: 2px solid #ff3344;
  width: 100%;
  bottom: -5px;
  border-radius: 50px;
  left: 0;
  transform-origin: right;
  transition: transform 300ms;
  transform: scaleX(0);
}
.buttonHover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 1200px) {
  .custom_container {
    max-width: 1140px !important;
  }
}
@media (max-width: 1200px) {
  .navb {
    position: absolute;
    background: rgb(255, 255, 255);
    min-height: 100vh;
    bottom: 0px;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.5s;
    z-index: 7;
    gap: 50px;
  }
}
.open {
  left: 0 !important;
  transition: 400ms !important;
  overflow: hidden !important;
}
