@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
}

.arrow_ylw_hover:hover svg {
  fill: #f9c94e;
}

.arrow_ylw_hover:hover svg path {
  stroke: white;
}
.social_hover:hover svg rect {
  fill: #f9c94e;
}

.animate_scale {
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: dots_scale 3s linear 1s infinite;
  transition: 3s;
}
.cursor_pointer{
  cursor: pointer;
}
/* @keyframes dots_scale {
  0% {
    transform: scaleY(1.1);
  }
} */
