@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
}

.arrow_ylw_hover:hover svg {
  fill: #f9c94e;
}

.arrow_ylw_hover:hover svg path {
  stroke: white;
}

.social_hover:hover svg rect {
  fill: #B0B7C3;
}
.social_hover:hover svg path {
  fill: #000000;
}

.animate_scale {
  animation: dots_scale 3s linear 1s infinite;
  transition: 3s;
}

@keyframes dots_scale {
  0% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

.card_layer {
  background: linear-gradient(270deg, #F5F6FA 30%, rgba(245, 246, 250, 0) 100%);
}